<div class="page-heading">
    <h2>@Model.WithoutSettings.String(BlogKeys.Title)</h2>
    @if(Model.String(BlogKeys.Image) != null) {
        <img src="@Model.String(BlogKeys.Image)" alt="">        
    }
</div>
