@model IEnumerable<IDocument>

<ul class="post-list">
@{
    foreach (IDocument post in Model)
    {
        string lead = post.String(BlogKeys.Lead);
        
        <li class="post-list-item">
            <a href="@Context.GetLink(post)">@post.WithoutSettings.String(BlogKeys.Title)</a>
            @if(!string.IsNullOrWhiteSpace(lead))
            {
                <small>&bull; @lead</small>
            }
            <small>&bull; @(post.Get<DateTime>(BlogKeys.Published).ToString("MMMM d, yyyy"))</small> 
        </li>
    }
}
</ul>