body {
    background-color: #3d3d3d;
    color: #e7e1e1;
}

b, strong {
    color: #fff;
}

a, article p a {
    color: #63bda2;
}

a:visited {
    color: #ababab;
}

cite {
    font-size: 1em;
}

h2 {
    a {
        color: #f0f0f0;
        text-decoration: none;
        position: relative;
        text-shadow: 0px -2px 0 #3d3d3d, 0px -1px 0 #3d3d3d, 0px 0px 0 #3d3d3d, 2px -2px 0 #3d3d3d, 2px -1px 0 #3d3d3d, 2px 0px 0 #3d3d3d, -2px -2px 0 #3d3d3d, -2px -1px 0 #3d3d3d, -2px 0px 0 #3d3d3d, 1px -2px 0 #3d3d3d, 1px -1px 0 #3d3d3d, 1px 0px 0 #3d3d3d, -1px -2px 0 #3d3d3d, -1px -1px 0 #3d3d3d, -1px 0px 0 #3d3d3d, 0px -2px 0 #3d3d3d, 0px -1px 0 #3d3d3d, 0px 0px 0 #3d3d3d;
        box-shadow: 0 -1px 0 0 #3d3d3d inset, 0 -2px 0 0 transparent inset;
        background-size: 1px 1em;
        position: relative;
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            box-shadow: 0 -1px 0 0 #3d3d3d inset, 0 -2px 0 0 #f0f0f0 inset;
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

article nav {
    all: unset;
}

p code {
    background-color: #5f5f5f;
}

table thead {
    background-color: #5f5f5f;
}

.site-title a {
    color: #fff;
}

.highlight p {
    display: inline;
    background-color: #786f28;
}

.highlight footer {
    margin-top: 1rem;
    text-align: right;
}

footer {
    color: #ababab;

    a {
        font-size: inherit;
    }
}

img {
    max-width: 100%;
}

ul > li > ul {
    margin-top: 0;
    margin-bottom: 0;
}

dt {
    font-weight: bold;
    margin: 1em 0;
}

.list-inline {
	list-style: none;
	margin: 0;
	padding: 0;

    &::after {
        content: ")";
    }

    &::before {
        content: "(";
    }

    li { 
        display: inline-block;

        &::after {
            content: ", "
        }

        &:last-child::after {
            content: "";
        }
    }
}

.list-dash {
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        margin: 0;
        padding: 0;

        &::before {
            content: "-";
        }
    }
}

.list-horizontal {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}

.list-grid {
    display: grid;
    grid-template-columns: auto 1fr;

    dt {
        font-weight: bold;
        grid-column-start: 1;
        margin: 0;
    }

    dd {
        grid-column-start: 2;
    }

    dd:has(+ dt) {
        margin-block-end: 1em;
    }
}

.nowrap {
    white-space: nowrap;
}

.bingocard {
    background-color: #63bda2;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, minmax(calc(20% - 10px), 1fr));
    gap: 10px;
    font-size: .75em;
    line-height: 1.05;
    margin: 0 0 1em;
    padding: 10px;

    .square {
        border: 1px solid #157055;
        border-radius: 10px;
        text-align: center;
    }

    .topic {
        background-color: #157055;
        border-radius: 7px 7px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-weight: bold;
        min-height: 40px;
        padding: 5px;
    }

    .book {
        color: #3d3d3d;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 5px;
    }

    img {
        height: 120px;
    }

    .hardMode img {
        border: 2px ridge gold;
    }
}

.bingolist {
    font-size: .75em;
    line-height: 1.05;
}

// Goodreads widgets
[class^="gr_custom_container"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;

    h2 {
        grid-column: 1 / -1;
    }

    // Hide goodreads logo
    center {
        display: none;
    }
}

.lastfm {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    list-style: none;
    margin: 0;
    padding: 0;

    .cover {
        display: block;
    }
}

.chart {
    align-items: center;
    display: grid;
    gap: 0.25rem 0;
    grid-auto-columns: 1fr;
    grid-template-columns: auto;
    list-style-type: none;
    padding: 0;

    li {
        align-items: center;
        background: #157055;
        display: flex;
        gap: 0 0.25rem;
        justify-content: space-between;
        padding: 0.25rem 0.5rem;

        b {
            font-weight: bold;
        }
    }
}

details {
    cursor: pointer;
}

article {
    footer {
        text-align: left;
    }
}

article.link-post {
    h1:has(a),
    h2:has(a) {
        margin-bottom: 0.25em;
    }

    a[href^='http']::after {
        content: "\2197";
        padding-left: 5px;
    }
}

.page-footer .tags {
    margin-bottom: 1.5em;
}