.highlight p {
    display: inline;
    background-color: lightyellow;
}

.highlight footer {
    margin-top: 1rem;
    text-align: right;
}

footer {
    color: #ababab;

    a {
        font-size: inherit;
    }
}