{{ define "main" }}
    <article class="link-post">
        <h1><a href="{{ .Params.target }}">{{ .Title }}</a></h1>
        <small>{{ .Params.domain }}</small>

        {{ with .Params.image }}
            <img src="{{ . }}" alt="">
        {{ end }}

        <div>
            <p>
            {{ .Content }}
            </p>
        </div>

        <footer>
            {{ if .Date }}
                <time>{{ .Date.Format "2006-01-02" }}</time>
            {{ end }}
        
            {{ if .Params.tags }}
                {{ range .Params.tags }}
                    <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
                {{ end }}
            {{ end }}

            {{ if .Params.via }} 
                <a href="{{ .Params.via }}">(via)</a>
            {{ end }}
        </footer>
    </article>
{{end}}